.form {    
flex-wrap: wrap;
margin-bottom: 1rem;

}

.form label {
color: rgb(0, 0, 0);
font-weight: bold;
margin-bottom: 5px;
display: block;


}

.form input {
font: inherit;
border: 1px solid #ccc;
width: 100%;
max-width: 100%;
height: 2rem;
}

.button {
    font: inherit;
    cursor: pointer;
    padding: 6px 1rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    margin-right: 1rem;
    
    text-align: center;
}

.button:hover,
.button:active {
    background-color: #510674;
    border-color: #510674;
}

.button.alternative {
    color: #220131;
    border-color: transparent;
    background-color: transparent;
}

.button.alternative:hover,
.button.alternative:active {
    background-color: #ddb3f8;
}

.formSpace{
    background: rgb(255, 255, 255);
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        margin: 2rem auto;
        width: 45rem;
        max-width: 95%;
        border-radius: 12px;
    }
    

   



